/*  your css code here. If applicable */
body {
    background-color: rgb(204, 204, 204);
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 10px 0;
}

a {
    text-decoration-line: none;
    color: black;
}

a:hover {
    text-decoration-line: underline;
}

.player_one, .player_two {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

video, audio {
    width: 100%;
    height: auto;
}

